#Banner3_0.khlgrr802ps-editor_css {
  background-image: url('https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg');
}
#Banner3_0 .banner3-text-wrapper > .khlgre0a0k9-editor_css {
  font-size: 50px;
}
#Content11_0.khpylgvruhm-editor_css {
  background-clip: ;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    white 100%
  );
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
}
