#Banner5_0 .k9b1oqkfcs-editor_css {
}
#Feature7_0 .ant-row > .ant-col > .k9b66itq1do-editor_css {
}
#Feature7_0 .home-page > .k9b66ukjr2-editor_css {
}

@media screen and (max-width: 767px) {
  #Feature7_0.k9c3rg41meu-editor_css {
    min-height: 770px;
  }
}
