#Feature5_0 div > .content7-tabs-wrapper > .khlcv23y8xh-editor_css {
  display: block;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .khpncwyuwc-editor_css {
  font-size: 18px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .khpuu8xvejc-editor_css {
  font-size: 30px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .khpv3bgc8qi-editor_css {
  font-size: 30px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .khpv9qw3y2p-editor_css {
  font-size: 60px;
  width: 480px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .khpvatg7ig-editor_css {
  font-size: 30px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .khok680x4c-editor_css {
  display: block;
  font-size: 50px;
  width: 800px;
  right: 30px;
  left: 150px;
  float: right;
  clear: both;
}
#Banner1_0
  .banner-anim-elem
  > .banner1-text-wrapper
  > .khok680x4c-editor_css:hover {
  display: flex;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .khpv45w23rr-editor_css {
  font-size: 50px;
  width: 750px;
  left: 110px;
  float: right;
  clear: both;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .khpniv8w9jb-editor_css {
  font-size: 60px;
  width: 400px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .khokjwn0abs-editor_css {
  font-size: 30px;
  position: relative;
  left: 50px;
  float: left;
  clear: both;
}
#Banner1_0 .banner-anim > .banner-anim-elem > .khpw80evggb-editor_css {
  background-image: url('https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg'),
    url('https://zos.alipayobjects.com/rmsportal/bXNBIyzSLHaycUGDzwLG.jpg');
  background-attachment: scroll, scroll;
  background-blend-mode: normal, normal;
  background-position: 0% 0%, center center;
  background-repeat: repeat, repeat;
  background-size: auto, cover;
  background-clip: padding-box, padding-box;
  box-shadow: none 0 0 undefined;
}
#Banner1_0 .banner-anim > .banner-anim-elem > .khpw56dd98k-editor_css {
  background-image: url(https://zos.alipayobjects.com/rmsportal/bXNBIyzSLHaycUGDzwLG.jpg),
    url('https://zos.alipayobjects.com/rmsportal/xHxWkcvaIcuAdQl.jpg');
  background-attachment: scroll, scroll;
  background-blend-mode: normal, normal;
  background-position: 0% 0%, center center;
  background-repeat: repeat, repeat;
  background-size: auto, cover;
  background-clip: padding-box, padding-box;
}
#Content11_0.khpx3ls00s6-editor_css {
  background-clip: ;
  background-image: linear-gradient(
    rgb(223, 229, 238) 0%,
    rgb(255, 255, 255) 100%,
    rgb(10, 29, 47) 100%,
    black 100%
  );
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
}
#Content11_0 .title-wrapper > .khpxh0eq1dd-editor_css {
  justify-content: center;
}
