#Content13_0.khpxm45inah-editor_css {
  background-clip: ;
  background-image: linear-gradient(
    to bottom,
    rgb(29, 120, 219) 0%,
    white 24.03846153846154%
  );
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
}
#Banner3_0 .banner3-text-wrapper > .khpxuzwpx0f-editor_css {
  font-size: 50px;
}
#Content11_0.khpy7sddkj-editor_css {
  background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255) 0%,
      white 100%
    ),
    url('https://gw.alipayobjects.com/zos/rmsportal/ZsWYzLOItgeaWDSsXdZd.svg');
  background-attachment: scroll, scroll;
  background-blend-mode: normal, normal;
  background-position: 0% 0%, center bottom;
  background-repeat: repeat, no-repeat;
  background-size: auto, 100%;
  background-clip: padding-box, padding-box;
}
#Content11_0 .title-wrapper > .khpyc9a6ece-editor_css {
}
