#Feature5_0 div > .content7-tabs-wrapper > .khko4nv00oo-editor_css {
  display: inline-block;
}
#Feature7_0 .ant-col > .feature7-block-group > .khlhaogfvl6-editor_css {
  margin: 0px 8px 16px;
}
#Content11_0.khpyezw9y6i-editor_css {
  background-clip: padding-box, padding-box;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    white 100%
  );
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
}
